@inherits LayoutComponentBase

<div class="page">
    <main>
        <article class="content">
            @Body
        </article>
    </main>
</div>

<!-- Persistent Update Modal -->
<UpdateModal 
    IsVisible="@showUpdateModal"
    OnUpdate="@HandleUpdate"
    IsUpdating="@isUpdating" />

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>


